# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.gradle/5.2.1/executionHistory/executionHistory.bin
.gradle/5.2.1/executionHistory/executionHistory.lock
.gradle/5.2.1/fileContent/fileContent.lock
.gradle/5.2.1/fileHashes/fileHashes.lock
.gradle/6.2.1/executionHistory/executionHistory.bin
.gradle/6.2.1/executionHistory/executionHistory.lock
.gradle/6.2.1/fileChanges/last-build.bin
.gradle/6.2.1/fileContent/annotation-processors.bin
.gradle/6.2.1/fileHashes/fileHashes.bin
.gradle/6.2.1/fileContent/fileContent.lock
.gradle/6.2.1/fileHashes/fileHashes.lock
.gradle/6.2.1/fileHashes/resourceHashesCache.bin
.gradle/6.2.1/gc.properties
.gradle/6.2.1/javaCompile/classAnalysis.bin
.gradle/6.2.1/javaCompile/jarAnalysis.bin
.gradle/6.2.1/javaCompile/javaCompile.lock
.gradle/6.2.1/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/checksums/checksums.lock
.gradle/checksums/md5-checksums.bin
.gradle/loom-cache/launch.cfg
.gradle/vcs-1/gc.properties
.gradle/checksums/sha1-checksums.bin
.gradle/5.2.1/fileContent/annotation-processors.bin
.gradle/5.2.1/fileHashes/fileHashes.bin
.gradle/5.2.1/fileHashes/resourceHashesCache.bin
.gradle/5.2.1/javaCompile/classAnalysis.bin
.gradle/5.2.1/javaCompile/jarAnalysis.bin
.gradle/5.2.1/javaCompile/javaCompile.lock
.gradle/5.2.1/javaCompile/taskHistory.bin
.gradle/5.2.1/fileChanges/last-build.bin
.gradle/5.2.1/gc.properties
build/resources/main/assets/bmmtt/icon.png
build/resources/main/assets/bmmtt/icon.xcf
build/resources/main/assets/bmmtt/lang/pl_pl.json
build/resources/main/assets/bmmtt/lang/en_us.json
build/resources/main/fabric.mod.json
build/tmp/jar/MANIFEST.MF
build/tmp/sourcesJar/MANIFEST.MF
build/tmp/remapJar/MANIFEST.MF
toggle-toggle.iml
toggle-toggle.ipr
toggle-toggle.iws
toggle-toggle.main.iml
toggle-toggle.test.iml
